<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card" style="width: 18rem;">
        <%= image_tag "iguana.png", class:"card-img-top img-size" %>
        <div class="card-body">
            <h5 class="card-title">Web Iguana</h5>
            <p class="card-text">Web donde se da a conocer información de la iguana verde. Esta página se creo como desafio para evalaur las habilidades aprendidas en el modulo de frontend. </p>
            <a href="#" class="btn boton">Ver más</a>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
        <%= image_tag "comida.png", class:"card-img-top img-size" %>
        <div class="card-body">
            <h5 class="card-title">Ricomida</h5>
            <p class="card-text">Esta web simula un sitio de recetas donde se presenta la receta de una pizza. Esta página se creo como desafio para evalaur las habilidades aprendidas en el modulo de frontend.</p>
            <a href="#" class="btn  boton">Ver más</a>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
        <%= image_tag "viajes.png", class:"card-img-top img-size" %>
        <div class="card-body">
            <h5 class="card-title">Viajes Chile</h5>
            <p class="card-text">Esta web simula una agencia de viajes la cual da a conocer distintos destinos de Chile, esta págia posee un formulario de contacto. Esta página se creo como desafio para evalaur las habilidades aprendidas en el modulo de frontend.</p>
            <a href="#" class="btn boton">Ver más</a>
        </div>
    </div>
  </div>
</div>
